.masthead.hero
		//li #[a #[img(src="/assets/media/ymc_logo_alt.png")]]
		div(g="centered lg-container")
			h1 Go from 0 to freelancer
			h2 Learn to code real projects in small, bite-sized lessons wrapped in interactive story-telling
			p #[a(href="/courses/") Click here to check out our courses!]