script(src="1.js")

h2.title Why learn JavaScript

p Welcome to Sophie's story! Together we'll follow Sophie as she launches her dream of selling her parents wine on the web.
p JavaScript is a language that will help her do just that. It adds interactivity to her website and will soon to yours. Without it, her website would be a plain page with just text and images.
p One of the cool things about JavaScript is that we can use it to access APIs, or application programming interfaces, which is a set of tools to get data from another source to help you build your website.
p For example, you could get details about tomorrow's weather, census data, or social media information like Twitter posts.
p For our tutorials, we will be using the LCBO API, which gives abundant data about LCBO's products, stores, and inventories. We can search for specific products and their prices, stuff that are on sale and which stores they're available at.