script(src="1.js")

h2.title Working with jQuery

p jQuery can add any HTML content you want to any element you choose. 
pre.language-markup #[code &lt;p class="text"&gt;This text will be replaced.&lt;p&gt;]


p The $('.text') selects all the elements with a class of "text" and the html function applies to all of them.