script(src="1.js")

h2.title AJAX calls using jQuery

p We can use jQuery to access the contents of another website using an AJAX call. This call runs in parallel with the rest of the code, so it doesn't run right away. However, we can define a function to run after the AJAX call finishes, for example, to display the contents we retrieved.

pre.language-markup
	code
		| $.ajax({
		|	url: "/",
		|	dataType: "html"
		| }).done(function(htmlContent) {
		|	console.log(htmlContent);
		| });

p This example would log the html content of our home page.