script(src="1.js")

h2.title LCBO API: What it does

p The LCBO API provides data on LCBO stores, products, and inventories. To get a sense of what data it gives, you can visit http://lcboapi.com/stores/511 (you can see a prettier version on their home page). This URL shows that you are querying the store with an ID of 511. In this case, it is the LCBO store at King and Spadina. 

p If you want data on a product instead, you can visit, for example, http://lcboapi.com/products/288506. This is the product with an ID of 288506, which is the Amsterdam Boneshaker.

p The data that the API provides looks like a big JavaScript object; this is called the JSON format, or JavaScript Object Notation. 

