script(src="1.js")

h2.title Use jQuery to get data from the API

p If we want to use JavaScript to get the data of that particular store at King and Spadina, for example its address and telephone, we would use an AJAX call to get that URL and its contents, which we get back as a JavaScript object. We can then access its data members to get details such as the address.

p The call would look something like: 

pre.language-markup
	code
		| $.ajax({
		|	url: "http://lcboapi.com/stores/511",
		|	dataType: 'jsonp'
		| }).done(function(storeData) {
		|	console.log(storeData);
		| });

p The storeData would contain all the stuff we want. Note we need to specify the datatype as jsonp; JSONP is JSON with padding, and this is a security requirement when getting JSON from another domain.