script(src="1.js")

h2.title Getting her started with JavaScript

p JavaScript is used in web browsers, and it is there that you will see the result of the JavaScript code.
p To write JavaScript, there are many text editors available that provide syntax highlighting, such as Sublime, Atom, and Notepad++.
p Modern browsers also have a JavaScript console which we will be using. This console helps us determine what is going on with our code, something that is very helpful.