script(src="1.js")

h2.title Variables

p The first thing Sophie will need is a variable. A variable is a bucket for storage; it helps her store a value. She can "declare" one (giving it a name) and set its value as follows: 
pre.language-markup #[code var x = 2;]
p She can assign a variable to be a number or a string of characters in single or double quotes (a string) but not both.
pre.language-markup #[code var y = "wine";]
p Variables in JavaScript are very flexible; you can change their values, even their data type at any time, e.g., change it from a number to a string just by re-assigning its value.
p You can also apply a lot of mathematical operators to numbers, including +, -, *, and /. You add two strings together by using +.
p You can find a variable's value using #[code console.log()]