script(src="1.js")

h2.title If statements

p Sophie will probably need if statements. They will help her controlling behaviour of variables.
p For example, based on the price of a product, she could output whether or not the the product is cheap or expensive. If the price is over $100, her website would output expensive, and if the price is below that, it would output cheap.

pre.language-markup
	code
		| var priceInDollars = 200;
		| if (priceInDollars > 100) {
		| 	console.log('expensive!');
		| }
		| else {
		| 	console.log('cheap!');
		| }

p If you noticed her code is placed into blocks defined by curly braces.
p Variables declared inside one of the blocks can only be used inside that block; it is a 'local' variable and the block is its scope.