script(src="1.js")

h2.title For loops

p Nobody likes having to do the same thing over and over again, neither does Sophie. Fortunately for her this nifty thing called "For loops" totally enjoy it.
p For loops are a method of repeating behaviour. Instead of her writing the same thing over and over again, she can instead write a for loop and specify how many times she wants the loop to repeat.
p For example, if she wants to print "expensive" for the 10 bottles of wine with prices over $100, she can define a variable that starts at 1 and increases by 1 to 10, and every time it increases, we print "expensive".

pre.language-markup
	code
		| for (var i = 1; i &lt;= 10; i++) {
		| 	console.log('expensive');
		| }

p Note again that #[code i] is local to the block.