script(src="1.js")

h2.title Functions

p Functions define behaviour that you might use but in different circumstances; for example, doing a specific calculation such as the square or cube of a function.
p Parameters are the variables that you want to pass to the function for it to do its calculation, for example, the number we want to square.
p We can return values from functions; for example, the square of the number. Example:
pre.language-markup
	code
		| function square(x) {
		| 	return x * x;
		| }

p Then #[code console.log(square(5));] outputs 25.
