script(src="1.js")

h2.title Arrays

p Arrays are a collection of variables that are used for one purpose, for example, an array of strings can store the names of the days of the week. #[code var daysOfWeek = ["Monday", "Tuesday", ...];]
p Elements of the array can be accessed using angle brackets. #[code daysOfWeek[0]] is #[code "Monday"], 1 is Tuesday, and so on.
p If you want to do something with each element of the array, you can use a for loop. 

pre.language-markup
	code
		| for (var i = 0; i &lt; daysOfWeek.length; i++) {
		| 	console.log(daysOfWeek[i]);
		| }