script(src="1.js")

h2.title Objects

p Objects are a method of defining that will have many attributes and properties.
p You can add data members, which can be variables or functions, to objects. For example, if we have a Person object, we can add a first name, last name, and age.

pre.language-markup
	code
		| var interestingPerson = {
		| 	firstName: "Timmy",
		|	lastName: "Turner",
		|	age: "young"
		| };