script(src="1.js")

h2.title Libraries: Intro to jQuery

p We want to use a library to reduce the amount of routine coding that we need to do and focus more on the actual “meat” of our code: for example, writing a function that selects all HTML elements with a certain attribute can be hard on our own. Instead of writing this functionality ourselves, we use other people’s code that does it for us.
p jQuery helps a lot with selecting specific HTML elements and manipulating them. If we didn't have jQuery, we would have to write a lot of code just to select some specific elements with certain attributes and modify them, e.g., change their text.