html
	head
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css")
		link(rel="stylesheet", href="/assets/galaxy/galaxy.css")
		link(rel="stylesheet", href="/assets/video-js/video-js.css")
		script(src="/assets/js/jquery.min.js")
		script(src="/assets/js/app.js")
		script(src="/assets/js/player.js")

	body
		header#header
			ul
				li #[a(href="/courses/") &larr; Sophie&#39;s store]
			ul(g="lg-container center")
				li #[a(href="/") Labcademy]

		section(g="12")
			#instructions
				header
					ul(g="centered")
						li Course list
				ul.hidden.dropdown
					for preq, i in modules
						for lesson, i in preq.secondary
							li #[a(href="#{lesson.url.replace('sophie/', '')}") #{lesson.name} ]
				.content(g="centered lg-margin-t")
					!= yield
				.footer
					button.primary(g="6") Next page

			#preview-html
			style#preview-css
			#preview-javascript
				
			ul#tabs(g="6")
			#editors
				pre.editor#editor-html(g="6")
				pre.editor#editor-css(g="6")
				pre.editor#editor-javascript(g="6")
				.footer
					button.primary Revert changes
			video#video.video-js.vjs-default-skin(controls data-setup="{}")
				
		

		script(src="/assets/ace/src/ace.js")
		script(src="/assets/ace/src/ext-emmet.js")
		script(src="/assets/ace/src/theme-tomorrow_night.js")
		script(src="/assets/js/popcorn.min.js")
		
		
		script(src="/assets/video-js/video.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js")