.modal_container {
	display: none;
	
	.bg {
		background: rgba(#000, .5);
		height: 100vh;
		width: 100vw;
		position: fixed;
		top: 0;
		cursor: pointer;	
	}
	.modal {
		height: 80%;
		overflow-y: scroll;
		position: absolute;
		left: 0;
		top: 10%;
		right: 0;
		margin: 0 auto;
		background: #fff;
		padding: $md-padding;
		border: $default-color 1px solid;
		border-radius: $border-radius;
		min-width: 300px;
		width: 33%;
		cursor: auto;
		.content {
			margin-top: $sm-margin;
		}
	}
}

