
.editor, #preview, #video {
  position: absolute !important;
}

#instructions {
  border-right: $default-color 3px solid;
  width: 20%;
  overflow-y: scroll;
  word-wrap: break-word;

  .dropdown {
    transition-duration: 1s;
    display: block;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    list-style-type: none;
    li {
      padding: 1.5em;
      font-size: 1.125em;
      cursor: pointer;
      font-weight: 500;
      :hover {
        background: lighten(#000, 5)
      }
    }
    &.hidden {
      display: none;
    }
  }
  header {
    background: #1D1F21;
    cursor: pointer;

    li {
      background: #1D1F21;
      color: #fff;
    }
    :hover, &.active {
      background: #000;
    }

  }
  .content {
    padding: 0 1.5em 0 1em;
  }
  .title {
    font-weight: bold;
    margin-bottom: $xsm-margin;
  }
  h3 {
    margin-top: $xsm-margin;
    margin-bottom: $xsm-margin;
  }

  &:hover {
    overflow-y: scroll;
  }
  pre[class*=language-] {
    padding: 0;
    &>code[data-language]::before {
      content: none;
    }
  }
  .footer {
    background: #000;
    color: #fff;
  }
}

#editors {
  .footer {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.editor {
  right: 0;
  bottom: 0;
}
#preview {
  font-size: 14px;
  overflow-y: scroll;
  word-wrap: break-word;
  width: 30%;

}

#video {
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  z-index: 10;
  & #video_html5_api {
    height: inherit !important;
  }
}


#tabs {
  position: absolute;
  right: 0;
  height: 40px;
  margin: 0;
  background-color: #000;
  list-style-type: none;
  li {
    font-size: .9em;
    color: #eee;
    padding: $nav-height/4 $nav-height/2;
    margin-right: 1px;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    &.active {
      background: #25282c;
    }
  }
  
}

.lesson-plan {
  width: 80%;
}

.course {
  min-height: 300px;
  background: #000;
  &.sophie-store {
    padding: 2.5em;
    &:hover {
      cursor: pointer;
      background-image: url('/assets/media/icon-video.png');
      background-repeat: no-repeat;
      background-position-x: 50%;
      background-position-y: 50%;
    }
  }
}

.video-js .vjs-tech {
  width: 84%;
  position: absolute;
  bottom: 0;
}

code {

  &[class*=language-], &pre[class*=language-] {
    text-shadow: none !important;
    background: #1D1F21;
    color: #fff;
    font-size: .9em;
    line-height: 1.6em;
    padding: .5em;
    overflow: auto !important;
  }
  .token.boolean, .token.constant, .token.number, .token.property, .token.symbol, .token.tag {
    color: #C66
  }
  .token.attr-name, .token.builtin, .token.selector, .token.string {
    color: #CC6666
  }
  .token.atrule, .token.attr-value, .token.keyword {
    color: #AFB765
  }
}

#video_html5_api {
  cursor: move;
}

.masthead {
  background: #000;
  color: #fff;
  padding-top: 160px;
  &.hero {
    height: $sm-breakpoint;
    div {
      justify-content: flex-start;
      flex-direction: column;
    }
  }
}
