
	// -------
	// GLOBALS
	// _______

	// You can configure your globals in _settings.scss

// Global settings and styles must be imported. Without it, there will be no consistency and Galaxy won't compile.

 // -- COLOR

 /*
#FF6461 red
#37CDFF blue
#BDA6FF purple
#6ee9ab green
*/

$light-shadow: #eee;
$dark-shadow: darken($light-shadow, 10);

$dark-border: #CCCCCC;
$light-border: #EEEEEE;

$nav-color: #ff9800;
$nav-height: 3em;
$footer-background-color: #fff;

$dark-color: #181818;
$light-color: #FFFFFF;

$default-color: #F2F2F2;
$primary-color: #368aa9;
$success-color: #7ab55c;
$warning-color: #ebb129;
$danger-color: #cc2127;

// --- BORDERS

$sm-border-radius: 0.15em;
$md-border-radius: 0.25em;
$lg-border-radius: 0.6em;
$border-radius: $sm-border-radius;
$rounded: 50%;

// --- BREAKPOINTS

$xlg-breakpoint: 1440px;
$lg-breakpoint: 970px;
$md-breakpoint: 767px;
$sm-breakpoint: 448px;
$xsm-breakpoint: 259px;

$bp: $xsm-breakpoint, $sm-breakpoint, $md-breakpoint, $lg-breakpoint, $xlg-breakpoint; // For responsiveness loop
$bp-prefix: xsm, sm, md, lg, xlg;

// --- TRANSPARENCY

$high-opacity: 0.7;
$md-opacity: 0.8;
$low-opacity: 0.9;

// --- PADDING

$xsm-padding: .5em;
$sm-padding: 1em;
$md-padding: 1.5em;
$lg-padding: 2.5em;
$xlg-padding: 5em;
$padding: 1.61803398875em; // ratio padding

// --- MARGIN

$xsm-margin: .5em;
$sm-margin: 1em;
$md-margin: 1.5em;
$lg-margin: 2.5em;
$xlg-margin: 5em;
$margin: 1.61803398875em; // ratio margin

// --- TYPOGRAPHY

$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
$serif: "Georgia", serif;
$monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-size: 16px;
$font-weight: 300;

$headings: h1, h2, h3, h4, h5, h6;

/* MIXINS */

/* FUNCTIONS */
