/* ========================================================================
   Component: Grid
========================================================================== */

[g~="1"], [g~="2"], [g~="3"], [g~="4"], [g~="5"], [g~="6"], [g~="7"], [g~="8"], [g~="9"], [g~="10"], [g~="11"], [g~="12"] {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
}

section {
	display: flex;
	// flex-wrap: wrap;
	flex-flow: row wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	&:before, &:after {
		content: "";
		display: block;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
	& > * {
		flex: none;
		margin: 0;
		float: left;
	}
}

[g~="center"], [g~="centered"] {
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}

// Layout
[g~="around"] {
	justify-content: space-around;
}
[g~="between"] {
	justify-content: space-between;
}

// order

[g~="first"] {
	order: -1
}

[g~="last"] {
	order: 1;
}

// Containers
@for $i from 1 through length($bp) {
	$max-width: nth($bp, $i);
	[g~="#{nth($bp-prefix, $i)}-container"] {
		max-width: $max-width;
	}
	@media screen and (max-width: $max-width) {
		[g~="#{nth($bp-prefix, $i)}-container"] {
			padding-left: .5em;
			padding-right: .5em;
		}
	}
}

@for $i from 0 through 12 {
	$size: $i / 12 * 100%;
	[g~="#{$i}"] {
		width: $size;
	}
	@media screen and (max-width: $xsm-breakpoint) {
		[g~="xsm-#{$i}"] {
			width: $size;
			flex: none;
		}
	}
	@media screen and (max-width: $sm-breakpoint) {
		[g~="sm-#{$i}"] {
			width: $size;
			flex: none;
		}
	}
	@media screen and (max-width: $md-breakpoint) {
		[g~="md-#{$i}"] {
			width: $size;
			flex: none;
		}
	}
	@media screen and (max-width: $lg-breakpoint) {
		[g~="lg-#{$i}"] {
			width: $size;
			flex: none;
		}
	}
	@media screen and (max-width: $xlg-breakpoint) {
		[g~="xlg-#{$i}"] {
			width: $size;
			flex: none;
		}
	}
}

/*
	-------
	GALAXY/BEM
	_______
*/

/* Padding */

$padding-sizes: .5em, 1em, 1.5em, 2.5em, 5em;

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-padding"] {
		padding: nth($padding-sizes, $i);
	}
}

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-padding-t"] {
		padding-top: nth($padding-sizes, $i);
	}
}

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-padding-r"] {
		padding-right: nth($padding-sizes, $i);
	}
}

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-padding-b"] {
		padding-bottom: nth($padding-sizes, $i);
	}
}

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-padding-l"] {
		padding-left: nth($padding-sizes, $i);
	}
}

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-padding-tb"] {
		padding-top: nth($padding-sizes, $i);
		padding-bottom: nth($padding-sizes, $i);
	}
}

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-padding-lr"] {
		padding-left: nth($padding-sizes, $i);
		padding-right: nth($padding-sizes, $i);
	}
}

/* Margins */

$margin-sizes: $xsm-margin, $sm-margin, $md-margin, $lg-margin, $xlg-margin;

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-margin"] {
		margin: nth($margin-sizes, $i);
	}
}

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-margin-t"] {
		margin-top: nth($margin-sizes, $i);
	}
}

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-margin-r"] {
		margin-right: nth($margin-sizes, $i);
	}
}

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-margin-b"] {
		margin-bottom: nth($margin-sizes, $i);
	}
}

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-margin-l"] {
		margin-left: nth($margin-sizes, $i);
	}
}

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-margin-tb"] {
		margin-top: nth($margin-sizes, $i);
		margin-bottom: nth($margin-sizes, $i);
	}
}

@for $i from 1 through length($bp) {
	[g~="#{nth($bp-prefix, $i)}-margin-lr"] {
		margin-left: nth($margin-sizes, $i);
		margin-right: nth($margin-sizes, $i);
	}
}

// Float

[g~="left"] {
	justify-content: start;
}

[g~="right"] {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

[g~="text-left"] {
	text-align: left
}

[g~="text-right"] {
	text-align: right
}

[g~="text-center"] {
	text-align: center
}

[g~="white"] {
	color: #fff;
}

[g~="black"] {
	color: #000;
}

[g~="column"], [g~="vertical"] {
	display: flex;
	flex-direction: column;
}