@function opposite-color($color) {
	@if lightness($color) < 50 {
		@return(#fff);
	}
	@else {
		@return(#000);
	}
}

@function similar-color($color, $tolerance) {
	@if lightness($color) < 50 {
		$shade: lighten(#000, $tolerance);
		@return($shade);
	}
	@else {
		$shade: darken(#fff, $tolerance);
		@return($shade);
	}
}

/*
	-------
	GALAXY/HEADER
	_______
*/

header {
	color: opposite-color($nav-color);
	background-color: $nav-color;
	display: inline-flex;
	font-weight: bold;
	border-bottom: $nav-color 1px solid;
	height: $nav-height;
	width: 100%;


	ul {
		display: inline-flex;
		background-color: $nav-color;
		list-style-type: none;

		li {
			padding: $nav-height/4;
			//border: similar-color($nav-color, 5) 1px solid;
			
			a {
				color: #fff;
				padding: $nav-height/4;
				text-decoration: none;
			}
		}
	}
}