html
	head
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="/assets/galaxy/galaxy.css")
		link(rel="stylesheet", href="//vjs.zencdn.net/4.12/video-js.css")
		
	body
		header#header
			ul(g="lg-container center")
				li #[a(href="/") Labcademy]

		!= yield
		
		script(src="/assets/js/jquery.min.js")

		script(src="/assets/ace/src/ace.js")
		script(src="/assets/ace/src/ext-emmet.js")
		script(src="/assets/ace/src/theme-tomorrow_night.js")
		script(src="/assets/js/popcorn.min.js")
		script(src="/assets/js/app.js")
		script(src="/assets/js/player.js")
		script(src="//vjs.zencdn.net/4.12/video.js")