.masthead(g="xlg-padding lg-margin-tb centered lg-container")
  h1 Courses

section.main(g="centered lg-container between")

  .masthead(g="xlg-padding")
    h2 #{title}
  table.course-list
    tbody
    for module, i in modules
      tr #[td #[a(href="#modal-#{i}") #{module.primary}]]

//- MODALS

.modal_container
  .bg
  .modal
    for module, i in modules
      h2(g="text-center md-margin-t" id="modal-#{i}") #{module.primary}
      .content
        table
          for lesson in module.secondary
            tr
              td #[a(href="#{lesson.url}") #{lesson.name}]
